#bio {
    font-family: 'Roboto mono', monospace;
}

#bio-left-side {
    width: 50%;
    display: inline-block;
}

#bio-right-side {
    width: 50%;
    display: inline-block;
    visibility: hidden;
}

.portrait {
    height: 200px;
}

.info-container {
    width: 100%;
    display: inline-block;
    line-height: 1.2;
    padding-top: 25px;
    font-size: 1.05em;
}

.description {
    display: none;
}

.languages, .back-end-skills, .front-end-skills {
    padding-top: 15px;
    font-weight: 500;
    font-size: 1.15em;
}

.languages {
    padding-top: 25px;
}

.languages-list, .back-end-skills-list, .front-end-skills-list {
    font-weight: lighter;
    font-size: .93em;
    line-height: 1.1;
}

.download-resume {
    vertical-align: bottom;
    display: table-cell;
    height: 100px;
}

.reflexive-design, .comprehensive-animation {
    display: block;
    width: 300px;
    height: 75px;
}

.properties-container {
    display: inline-block;
}

.top-box-bio {
    height: 25px;
    width: 100px;
    background-color: #444;
    border-color: #AAA;
    border-bottom: 1px, solid;
    border-left: 1px, solid;
    border-radius: 2px;
    position: relative;
    top: 20;
}

.bottom-box-bio {
    height: 25px;
    width: 100px;
    background-color: #333;
    border-color: #AAA;
    border-top: 1px, solid;
    border-left: 1px, solid;
    border-radius: 2px;
    position: relative;
    bottom: 0;
}