<!DOCTYPE html>
<html lang='en'>
<head>
	{% load static %}
	<meta charset='UTF-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--HOSTED JAVASCRIPT -->
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/treble-clef.png' %}"/>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script defer src="http://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>
	<script src="https://unpkg.com/popmotion/dist/popmotion.global.min.js"></script>
	<!--LOCAL JAVASCRIPT -->
	<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
	<script defer src='{% static "js/projects.js" %}'></script>
	<script defer src='{% static "js/mobile.js" %}'></script>
	<script defer src='{% static "js/formScripts.js" %}'></script>
	<script defer src='{% static "js/main.js" %}'></script>
	<!-- HOSTED CSS -->
	<link rel="stylesheet" type='text/css' href='{% static "btns-master/css/btns.css" %}'>
	<!-- LOCAL CSS -->
	<link rel="stylesheet" type="text/css" href='{% static "css/mainStyles.css" %}'>
	<link rel="stylesheet" type='text/css' href='{% static "css/formStyles.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "css/projects.css" %}'>
	<link rel='stylesheet' type='text/css' href='{% static "css/bio.css" %}'>
	<link rel="stylesheet" media="screen and (max-width: 652px)" href="{% static 'css/smallscreen.css' %}">
	<link rel="stylesheet" media="screen and handheld and (min-width: 652px) and (max-width: 800px)" href='{% static "css/flipscreen.css" %}'>
	<!-- HOSTED FONTS -->
	<link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Hind:300,400,500" rel="stylesheet">

	<title>ABarstow</title>
</head>
<body>
	<div id='wrapper'>
		<img src='{% static "images/flip-device.png" %}' alt='pleast flip screen' class='flip-device'>

		<div id='mobile-header'>


		</div>

		<div id='mobile-sidebar' class='unslid'>
			<div class='mobile-slide-box' data-window-id='contact'><p>Contact Me</p></div>
			<div class='mobile-slide-box' data-window-id='calendar'>
				<p>Calendar</p>
				<strong><p class='calendar-alert'>coming soon!</p></strong>
			</div>
			<div class='mobile-slide-box' data-window-id='bio'><p>Bio</p></div>
			<div class='mobile-slide-box' data-window-id='projects'><p>Projects</p></div>
		</div>
		<img src='{% static "images/treble-clef.png" %}' alt='mobile note' class='mobile-home-note' data-window-id='home-page'>
		<img src='{% static "images/treble-clef.png" %}' alt='musical note' class='home-note' data-window-id='home-page'>
		<div class='bars'>
			<div class='bar'></div>
			<div class='bar'></div>
			<div class='bar'></div>
		</div><!--
	 --><div id='sidebar'>

			<div class='sidebar-btn' data-window-id='contact'>
				<p>Contact</p>
			</div>

			<div class='sidebar-btn' data-window-id='calendar'>
				<p>Calendar</p>
				<strong><p class='calendar-alert'>coming soon!</p></strong>
			</div>

			<div class='sidebar-btn' data-window-id='bio'>
				<p>Bio</p>
			</div>

			<div class='sidebar-btn' data-window-id='projects'>
				<p>Projects</p>
			</div>

			<div class='icon-container'>
				<a href="https://www.youtube.com/fatbubble123"><img src='{% static "assets/youtube-small.svg" %}' alt='youtube' data-alt-src='{% static "assets/youtube-small-hovered.svg" %}' class='youtube icon'></a>
				<a href='https://www.facebook.com/andrew.barstow'><img src='{% static "assets/facebook.svg" %}' alt='facebook' data-alt-src='{% static "assets/facebook-hovered.svg" %}' class='fb icon'></a>
				<a href='https://www.linkedin.com/in/andrew-barstow-676b0015b/'><img src='{% static "assets/linkedin.svg" %}' alt='linkedin' data-alt-src='{% static "assets/linkedin-hovered.svg" %}' class='linkedin icon'></a>
				<a href='https://github.com/barstow123?tab=repositories'><img src='{% static "assets/github.svg" %}' alt='github' data-alt-src='{% static "assets/github-hovered.svg" %}' class='github icon'></a>
			</div>
		</div>

		<div id='main-content' class='unloaded'>

			<div id='home-page' class='home {{portfolio}}'>
				<h1 class='main-header'>Musician, Educator, Full Stack Developer</h1>
				<span class='open-script'></span>
				<img src='' alt='great-art' class='artwork' style='display: none;'>
				<span class='close-script'></span>
			</div>

			<div id='bio' class='window slideable-up {{bio}}'>
				<div id='bio-left-side'>
					<img src='{% static "images/portrait.jpg" %}' alt='photo' class='portrait'>
					<div class='info-container'>
						<p class='description'>Andrew is a web developer/software engineer, and music lessons business owner. 
	he has a flexible, and plastic personality with a deep passion for solving problems and writing elegant code.
	his experience leads him to have a strong skill set with business management, and customer relations. Andrew's unique interest
	in front end design drives his technological career.</p>
						<p class='languages'>Languages</p>
						<p><span class='languages-list'>Javascript, Python, Ruby, HTML, CSS, Java</span></p>
						<p class='back-end-skills'>Back end skills</p>
						<p><span class='back-end-skills-list'>MEAN development (MongoDB, Express.js, Angular, Node.js), Flask, Django, Ruby on Rails, Database technology (MySQL, PostgreSQL, NoSQL, SQLite)</span></p>
						<p class='front-end-skills'>Front end skills</p>
						<p><span class='front-end-skills-list'>React, popmotion animation, bootstrap</span></p>
						<div class='download-resume'>
							<a href='{% static "images/Resume.pdf" %}' class='downloader' download>download resume</a>
						</div>
					</div>
				</div><!--
			 --><div id='bio-right-side'>
					<div class='properties-container'>
						<div class='reflexive-design'>
							<div class='top-box-bio'></div>
							<p>reflexive design</p>
							<div class='bottom-box-bio'></div>
						</div>
						<div class='comprehensive-animation'>
							<div class='top-box-bio'></div>
							<p>comprehensive animation</p>
							<div class='bottom-box-bio'></div>
						</div>
					</div>
				</div>
			</div>

			<div id='calendar' class='window slideable {{calendar}}'>
				<h1>This is my Calendar</h1>
			</div>

			<div id='contact' class='window slideable {{contact}}'>
				<div class='contact-form'>
					<span class='name-catcher'></span>
					<span class='email-catcher'></span>
					<span class='user-container'>
						<img src='{% static "assets/user.svg" %}' alt='user' class='user user-waiting'>
						<img src='{% static "assets/user-active-small.svg" %}' alt='user' class='user user-active'>
						<span class='mobile user-fat-fingers fat-fingers'></span>
					</span>
					<span class='email-container'>
						<img src='{% static "assets/email.svg" %}' alt='email' class='email email-waiting'>
						<img src='{% static "assets/email-active.svg" %}' alt='email-active' class='email email-active'>
						<span class='mobile email-fat-fingers fat-fingers'></span>
					</span>

					<form action = "{% url 'send_email' %}" method='post' class='con-form'>
						<div class='form-input-label-container'>
						{% csrf_token %}
						<label for='onsubmit' class='thank-you-label'>Thank you! :)</label>
						<div class='show return-email unfille	d'>
							<label for='return-address' class='email-label'>Please enter a return email address</label>
							<label for='message' class='message-label'>Now, what did you want to talk about?</label>
							<label for='name' class='name-label'>Please enter your name</label>
							<input type='text' id='return-address' name='return-address' value='' class='email-input'>
						</div>
						<div class='hide name unfilled'>
							<input type='text' id='name' name='name' value='' class='name-input'>
						</div>
						<div class='hide message unfilled'>
							<textarea id='message' name='message' class='message-input'></textarea>
						</div>
						</div>
						<button type='button' class='btn btn--md btn--white next-btn'>Next</button>
						<button type='button' class='btn btn--md btn--white mobile-next-btn'>Next</button>
						<button class='btn btn--md btn--black submit-btn form-submit disabled-btn submitter' type='submit' disabled>Send!</button>
						<div class='or-email-me-mobile mobile'>
							<p>my email: abarstowtx@gmail.com</p>
						</div>
					</form>
				</div>
				<div class='interactive-words hide'>
					Click the icon to edit!
				</div>
				<div class='or-email-me'>
					<p>Or, email me at abarstowtx@gmail.com. I'd love to chat!</p>
				</div>
				<img src='{% static "images/code_words.png" %}' alt='code words' class='desktop code-words'>
				<div class='desktop-social'>
					Or, check me out on social media!
				</div>
				<div class='mobile-footer-box mobile'>
					<h3 class='social'>Or, check me out on social media!</h3>
					<div class='mobile-icon-container mobile'>
						<a href="https://www.youtube.com/fatbubble123"><img src='{% static "assets/youtube-mobile.svg" %}' alt='youtube' data-alt-src='{% static "assets/youtube-small-hovered.svg" %}' class='youtube icon'></a>
						<a href='https://www.facebook.com/andrew.barstow'><img src='{% static "assets/facebook-mobile.svg" %}' alt='facebook' data-alt-src='{% static "assets/facebook-hovered.svg" %}' class='fb icon'></a>
						<a href='https://www.linkedin.com/in/andrew-barstow-676b0015b/'><img src='{% static "assets/linkedin-mobile.svg" %}' alt='linkedin' data-alt-src='{% static "assets/linkedin-hovered.svg" %}' class='linkedin icon'></a>
						<a href='https://github.com/barstow123?tab=repositories'><img src='{% static "assets/github-mobile.svg" %}' alt='github' data-alt-src='{% static "assets/github-hovered.svg" %}' class='github icon'></a>
					</div>
				</div>
				<img src='{% static "images/dumb-arrow.png" %}' alt='dumb-arrow' class='arrow desktop' style='display: none;'>
			</div>

			<div id='projects' class='window {{projects}}'>
				<div id='projects-navbar'>
					<div class='projects-nav-link projects-nav-link-everything selected'>
						everything
						<div class='projects-bar bar-word-everything'></div>
					</div>
					<div class='projects-nav-link projects-nav-link-not-code'>
						not-code
						<div class='projects-bar bar-word-not-code'></div>
					</div>
					<div class='projects-nav-link projects-nav-link-code'>
						code
						<div class='projects-bar'></div>
					</div>
				</div>
				<div id='projects-container'>

					<div class='project not-code tames-music'>
						<div class='top-box'>
							<p>Lessons, Guitar</p>
						</div>
						<div class='visit-site'>
							<a href='https://www.tamesmusic.com/about-us.html'>
								<button type='button' class='btn btn--md btn--red projects-btn'>Visit Site</button>
							</a>
						</div>
							<img  class='project-main-image' src='{% static "images/tames_music.jpg" %}'>
						<div class='bottom-box'>
							<p>Taught Axel, now owner of Tames Music, most of what he knows about guitar .</p>
						</div>	
					</div>

					<div class='project code playchessgames'>
						<div class='top-box'>
							<p>Node.js, React, Gatsby</p>
						</div>
						<div class='visit-site'>
							<a href='http://www.smashcombos.com'>
								<button type='button' class='btn btn--md btn--red projects-btn'>Visit Site</button>
							</a>
						</div>
						<div class='bottom-box'>
							<p>Contributions to an open source web app for gamers which supports thousands of users.</p>
						</div>
						<img class='project-main-image' src='{% static "images/smashcombos.png" %}'>
					</div>

					<div class='project not-code dakota-jiminez'>
						<div class='top-box'>
							<p>Guitar, Studio Performance</p>
						</div>
						<div class='visit-site'>
							<a href='http://dakotajimenez.com/'>
								<button type='button' class='btn btn--md btn--red projects-btn'>Visit Site</button>
							</a>
						</div>
						<div class='bottom-box'>
							<p>A long list of meetups and video/audio recordings with Dakota Jiminez, an astounding audio professional</p>
						</div>
						<img class='project-main-image' src='{% static "images/dakota_photoshoot.jpg" %}'>
					</div>

				</div>

				<div id='projects-footer'>
						
				</div>
			</div>
		</div>

	</div>

</body>
</html>