<!DOCTYPE html>
<html lang='en'>
<head>
	{% load static %}
	<meta charset='UTF-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/popmotion/dist/popmotion.global.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
	<script defer src='{% static "js/projects.js" %}'></script>
	<script defer src='{% static "js/mobile.js" %}'></script>
	<script defer src='{% static "js/formScripts.js" %}'></script>
	<script defer src='{% static "js/main.js" %}'></script>
	<script defer src="http://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>
	<link rel="stylesheet" type='text/css' href='{% static "pushy-buttons-master/pushy-buttons-master/css/pushy-buttons.min.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "css/mainStyles.css" %}'>
	<link rel="stylesheet" type='text/css' href='{% static "css/formStyles.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "css/projects.css" %}'>
	<link rel="stylesheet" media="screen and (max-width: 652px)" href="{% static 'css/smallscreen.css' %}">
	<link rel="stylesheet" media="screen and (min-width: 652px) and (max-width: 800px)" href='{% static "css/flipscreen.css" %}'>
	<link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
	<title>ABarstow</title>
</head>
<body>
	<div id='wrapper'>
		<img src='{% static "images/flip-device.png" %}' alt='pleast flip screen' class='flip-device'>

		<div id='mobile-header'>


		</div>

		<div id='mobile-sidebar' class='unslid'>
			<div class='mobile-slide-box' data-window-id='contact'><p>Contact Me</p></div>
			<div class='mobile-slide-box' data-window-id='calendar'>
				<p>Calendar</p>
				<strong><p class='calendar-alert'>coming soon!</p></strong>
			</div>
			<div class='mobile-slide-box' data-window-id='bio'><p>Bio</p></div>
			<div class='mobile-slide-box' data-window-id='projects'><p>projects</p></div>
		</div>
		<img src='{% static "images/treble-clef.png" %}' alt='mobile note' class='mobile-home-note' data-window-id='home-page'>
		<img src='{% static "images/treble-clef.png" %}' alt='musical note' class='home-note' data-window-id='home-page'>
		<div class='bars'>
			<div class='bar'></div>
			<div class='bar'></div>
			<div class='bar'></div>
		</div><!--
	 --><div id='sidebar'>

			<div class='sidebar-btn' data-window-id='contact'>
				<p>Contact</p>
			</div>

			<div class='sidebar-btn' data-window-id='calendar'>
				<p>Calendar</p>
				<strong><p class='calendar-alert'>coming soon!</p></strong>
			</div>

			<div class='sidebar-btn' data-window-id='bio'>
				<p>Bio</p>
			</div>

			<div class='sidebar-btn' data-window-id='projects'>
				<p>projects</p>
			</div>

			<div class='icon-container'>
				<a href="https://www.youtube.com/fatbubble123"><img src='{% static "images/youtube-small.png" %}' alt='youtube' data-alt-src='{% static "images/youtube-small-hovered.png" %}' class='youtube icon'></a>
				<a href='https://www.facebook.com/andrew.barstow'><img src='{% static "images/facebook.png" %}' alt='facebook' data-alt-src='{% static "images/facebook-hovered.png" %}' class='fb icon'></a>
				<a href='https://www.linkedin.com/in/andrew-barstow-676b0015b/'><img src='{% static "images/linkedin.png" %}' alt='linkedin' data-alt-src='{% static "images/linkedin-hovered.png" %}' class='linkedin icon'></a>
				<a href='https://github.com/barstow123?tab=repositories'><img src='{% static "images/github.png" %}' alt='github' data-alt-src='{% static "images/github-hovered.png" %}' class='github icon'></a>
			</div>
		</div>

		<div id='main-content' class='unloaded'>

			<div id='home-page' class='home {{portfolio}}'>
				<h1 class='main-header'>Musician, Educator, Full Stack Developer</h1>
				<span class='open-script'></span>
				<img src='{% static "images/theoretical-artwork, transparent.png" %}' alt='great-art' class='artwork'>
				<span class='close-script'></span>
			</div>

			<div id='bio' class='window slideable-up {{bio}}'>
				<h1>This is my Bio</h1>
				<div class='test'>
					<p>the long version of my Elevator pitch goes here. The long version also goes on my linked in summary</p>
					<p>the short version of the elevator pitch goes in my resume</p>
					<p>download resume</p>
				</div>
			</div>

			<div id='calendar' class='window slideable {{calendar}}'>
				<h1>This is my Calendar</h1>
			</div>

			<div id='contact' class='window slideable {{contact}}'>
				<div class='contact-form'>
					<span class='name-catcher'></span>
					<span class='email-catcher'></span>
					<span class='user-container'>
						<img src='{% static "images/user.png" %}' alt='user' class='user user-waiting'>
						<img src='{% static "images/user-active-small.png" %}' alt='user' class='user user-active'>
						<span class='mobile user-fat-fingers fat-fingers'></span>
					</span>
					<span class='email-container'>
						<img src='{% static "images/email.png" %}' alt='email' class='email email-waiting'>
						<img src='{% static "images/email-active.png" %}' alt='email-active' class='email email-active'>
						<span class='mobile email-fat-fingers fat-fingers'></span>
					</span>

					<form action = "{% url 'send_email' %}" method='post' class='con-form'>
						<div class='form-input-label-container'>
						{% csrf_token %}
						<label for='onsubmit' class='thank-you-label'>Thank you! :)</label>
						<div class='show return-email unfilled'>
							<label for='return-address' class='email-label'>please enter a return email address...</label>
							<label for='message' class='message-label'>now, what did you want to talk about?</label>
							<label for='name' class='name-label'>please enter your name...</label>
							<input type='email' id='return-address' name='return-address' value='' class='email-input'>
						</div>
						<div class='hide name unfilled'>
							<input type='text' id='name' name='name' value='' class='name-input'>
						</div>
						<div class='hide message unfilled'>
							<textarea id='message' name='message' class='message-input'></textarea>
						</div>
						</div>
						<button type='button' class='btn btn--md btn--grey next-btn'>Next</button>
						<button type='button' class='btn btn--md btn--grey mobile-next-btn'>Next</button>
						<button class='btn btn--md btn--red submit-btn form-submit disabled-btn submitter' type='submit' disabled>Send!</button>
						<div class='or-email-me-mobile mobile'>
							<p>my email: abarstowtx@gmail.com</p>
						</div>
					</form>
				</div>
				<div class='interactive-words hide'>
					Click the icon to edit!
				</div>
				<div class='or-email-me'>
					<p>Or, email me at abarstowtx@gmail.com. I'm always listening!</p>
				</div>
				<img src='{% static "images/code_words.png" %}' alt='code words' class='desktop code-words'>
				<div class='desktop-social'>
					Or, check me out on social media!
				</div>
				<div class='mobile-footer-box mobile'>
					<h3 class='social'>Or, check me out on social media!</h3>
					<div class='mobile-icon-container mobile'>
						<a href="https://www.youtube.com/fatbubble123"><img src='{% static "images/youtube-small.png" %}' alt='youtube' data-alt-src='{% static "images/youtube-small-hovered.png" %}' class='youtube icon'></a>
						<a href='https://www.facebook.com/andrew.barstow'><img src='{% static "images/facebook.png" %}' alt='facebook' data-alt-src='{% static "images/facebook-hovered.png" %}' class='fb icon'></a>
						<a href='https://www.linkedin.com/in/andrew-barstow-676b0015b/'><img src='{% static "images/linkedin.png" %}' alt='linkedin' data-alt-src='{% static "images/linkedin-hovered.png" %}' class='linkedin icon'></a>
						<a href='https://github.com/barstow123?tab=repositories'><img src='{% static "images/github.png" %}' alt='github' data-alt-src='{% static "images/github-hovered.png" %}' class='github icon'></a>
					</div>
				</div>
				<img src='{% static "images/dumb-arrow.png" %}' alt='dumb-arrow' class='arrow desktop'>
			</div>

			<div id='projects' class='window {{projects}}'>
				<div id='projects-navbar'>
					<div class='projects-nav-link projects-nav-link-everything selected'>
						everything
						<div class='projects-bar bar-word-everything'></div>
					</div>
					<div class='projects-nav-link projects-nav-link-not-code'>
						not-code
						<div class='projects-bar bar-word-not-code'></div>
					</div>
					<div class='projects-nav-link projects-nav-link-code'>
						code
						<div class='projects-bar'></div>
					</div>
				</div>
				<div id='projects-container'>

					<div class='project not-code tames-music'>
						<div class='top-box'>
							<p>Lessons, Guitar</p>
						</div>
						<div class='visit-site'>
							<a href='https://www.tamesmusic.com/about-us.html'>
								<button type='button' class='btn btn--md btn--red projects-btn'>Visit Site</button>
							</a>
						</div>
							<img  class='project-main-image' src='{% static "images/tames_music.jpg" %}'>
						<div class='bottom-box'>
							<p>I taught this guy most of what he knows about the guitar...before he was cool</p>
						</div>	
					</div>

					<div class='project code playchessgames'>
						<div class='top-box'>
							<p>Node.js, sockets</p>
						</div>
						<div class='visit-site'>
							<a href=''>
								<button type='button' class='btn btn--md btn--red projects-btn'>Visit Site</button>
							</a>
						</div>
						<div class='bottom-box'>
							<p>playchessgames.com</p>
						</div>
						<img class='project-main-image' src='{% static "images/random-chess-piece.jpeg" %}'>
					</div>

					<div class='project not-code dakota-jiminez'>
						<div class='top-box'>
							<p>guitar, studio performance</p>
						</div>
						<div class='visit-site'>
							<a href='http://dakotajimenez.com/'>
								<button type='button' class='btn btn--md btn--red projects-btn'>Visit Site</button>
							</a>
						</div>
						<div class='bottom-box'>
							<p>So many video shoots with Dakota Jiminez</p>
						</div>
						<img class='project-main-image' src='{% static "images/dakota_photoshoot.jpg" %}'>
					</div>

				</div>

				<div id='projects-footer'>
						
				</div>
			</div>
		</div>

	</div>

</body>
</html>